/* Width breakpoints */
@media screen and (min-width: 700px){
	.section-container{
		min-height: 61rem;
		padding: 2rem;
	}
}

@media screen and (min-width: 750px){
	.experience-description-container, .education-description-container{
		width: 75%;
	}

	.experience-date-container, .education-date-container{
		width: 25%;
	}
	.experience-date, .education-date {
		margin: 0.3rem auto;
		text-align: right;
	}
}

@media screen and (min-width: 1000px){
	main{
		padding-top: 0;
		padding-left: 17rem;
	}
}

/*width And height bp*/