main {
	padding-top: 3.5rem;
	min-width: 100%;
	min-height: 100rem;
	background-color: #EEE9E3;
	color: #313131;
}

.section-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	position: relative;
	min-height: 20rem;
	height: auto;
	border-bottom: 1px solid #bbb;
	padding: 1rem;
}
.content-outer {
	/*position: absolute;*/
	/*margin: auto;*/
	width: 100%;
	max-width: 67rem;
	/*min-height: 30rem;*/
	/* background-color: pink;  */
}

.about-name {
	font-family: 'Raleway', sans-serif;
	font-size: 4.7rem;
	line-height: 4.9rem;
	text-transform: uppercase;
	margin: 0.8rem auto;
}

.about-last-name {
	color: #172233;
	text-shadow: 1px 1px 1px rgba(79,47,17,0.75), 1.5px 1.5px 1px rgba(0,0,0,0.75);
	font-size: 5.1rem;
}

.about-address {
	font-family: 'Lato', sans-serif;
	font-size: 1.35rem;
	opacity: 0.7;
	text-transform: uppercase;
	line-height: 1.7rem;
	margin: 0.8rem auto;
}

.about-description{
	margin: 3rem auto;
}

.content-title{
	margin: 3rem auto;
}

.experience-container-outer{
	margin: 2.8rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.experience-description-container{
	width: 100%;
}
.experience-title{
	margin: 0.3rem auto;	
}
.experience-company{
	margin: 0.3rem auto;	
}
.experience-description{
	margin: 1.3rem auto;
}
.experience-date-container{
	width: 100%;
}
.experience-date{
	margin: 1rem auto;
}

.education-container-outer{
	margin: 2.8rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}