main {
	padding-top: 3.5rem;
	min-width: 100%;
	min-height: 100rem;
	background-color: #EEE9E3;
	color: #313131;
}

.section-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	position: relative;
	min-height: 20rem;
	height: auto;
	border-bottom: 1px solid #bbb;
	padding: 1rem;
}
.content-outer {
	/*position: absolute;*/
	/*margin: auto;*/
	width: 100%;
	max-width: 67rem;
	/*min-height: 30rem;*/
	/* background-color: pink;  */
}

.about-name {
	font-family: 'Raleway', sans-serif;
	font-size: 4.7rem;
	line-height: 4.9rem;
	text-transform: uppercase;
	margin: 0.8rem auto;
}

.about-last-name {
	color: #581d22;
	text-shadow: 1px 1px 1px rgba(79,47,17,0.75), 1.5px 1.5px 1px rgba(0,0,0,0.75);
	font-size: 5.1rem;
}

.about-address {
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	opacity: 0.9;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1.7rem;
	margin: 0.8rem auto;
	color: #233d3d;
}

#about-email {
	display: block;
	color: #581d22;
}

.about-description {
	margin: 3rem auto;
	font-size: 1.2rem; 
}

.content-title {
	margin: 3rem auto;
	font-size: 2.6rem;
	text-transform: uppercase;
}

.experience-container-outer {
	margin: 2.8rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.experience-description-container, .education-description-container {
	width: 100%;
}
.experience-title {
	margin: 0.3rem auto;
	font-size: 1.8rem;
	text-transform: uppercase;
}
.experience-company {
	margin: 0.3rem auto;
	font-size: 	1.3rem;
	text-transform: uppercase;
	opacity: 0.9;
	color: #233d3d;
}
.experience-description {
	margin: 1.3rem auto;
}
.experience-date-container, .education-date-container {
	width: 100%;
}
.experience-date, .education-date {
	margin: 1rem auto;
	font-size: 1.2rem;
}

.education-container-outer {
	margin: 2.8rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}



.education-school {
	font-size: 1.75rem;
	margin: 0.3rem auto;
	text-transform: uppercase;
}

.education-degree {
	margin: 0.3rem auto;
	font-size: 1.3rem;
	text-transform: uppercase;
}